.skills-container {
  height: 100%;
  max-width: 1440px;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.skills-section-inner {
  width: 100%;
  height: 100%;
  padding: 90px 120px;
  position: relative;
}

.skills-header {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
}

.skills-box {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.skill-box {
  min-height: 200px;
  grid-column-gap: 90px;
  grid-row-gap: 16px;
  background-color: var(--skillswap-blue);
  color: var(--white);
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  padding: 48px 80px 48px 50px;
  display: grid;
}

.skill-box.black {
  background-color: var(--black);
}

.skill-box.lightblue {
  background-color: var(--skillswap-skyblue);
  color: var(--black);
}

.skill-heading {
  max-width: 285px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
}

.skill-details {
  grid-row-gap: 40px;
  flex-direction: column;
  display: flex;
}

.skill-text {
  font-size: 15px;
}

.dropdown-box {
  grid-column-gap: 24px;
  display: flex;
  grid-column-gap: 4px;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  display: flex;
  border: none;
  background: none;
}

.dropdown-title {
  color: var(--white);
  font-weight: bold;
}

.dropdown-title.black {
  color: var(--black);
}

.dropdown-icon {
  cursor: pointer;
  width: 17px; 
  height: 17px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3px;
  color: var(--white);
  transition: transform 0.3s ease-in-out;
}

.dropdown-icon.black {
  color: var(--black);
}

.rotate {
  transform: rotate(180deg); /*rotira ikonu za 180 stepeni*/
}

.skill-dropdown {
  flex-wrap: wrap; /*omogućava elementima da pređu u novi red*/
  justify-content: center; 
  align-items: center; 
  background: var(--skillswap-lightblue); 
  top: 100%; /*direktno ispod roditeljskog div - a*/
  left: 0;
  right: 0;
  margin-top: 0; 
  border: none; 
  box-shadow: none; 
  z-index: 10; 
  overflow: hidden; 
  max-height: 0; /*početna visina kada je zatvoreno*/
  transition: max-height 0.3s ease-in-out; /*animacija visine*/
}

.skill-tag {
  background-color: var(--white); 
  color: var(--skillswap-lightblue); 
  padding: 10px 20px; 
  margin: 5px; 
  border-radius: 20px;
  border: none;
  cursor: pointer; 
  font-weight: bold; 
}

.skill-tag:hover {
  background-color: var(--black); 
  color: var(--skillswap-lightblue);
}

.skill-dropdown.open {
  flex-wrap: wrap; /*omogućava wrapovanje dugmadi*/
  justify-content: center; 
  align-items: center; 
  padding: 20px; 
  max-height: 500px;
}

.close-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: black; 
  cursor: pointer;
  padding: 10px; 
}

.close-dropdown:hover {
  color: #ccc; 
}

@media only screen and (max-width: 990px) {
  .skills-section-inner {
    padding: 70px 50px 50px;
  }

  .skills-header {
    margin-bottom: 25px;
    font-size: 25px;
  }

  .skill-box {
    grid-column-gap: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .skill-heading {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .skills-section-inner {
    padding: 50px 30px 40px;
  }

  .skills-header {
    font-size: 20px;
  }

  .skill-box {
    grid-template-columns: 1fr;
  }

  .skill-heading {
    max-width: none;
    font-size: 24px;
  }

  .skill-dropdown.open {
    padding: 10px;
  }

  .skill-tag {
    font-size: 12px;
    padding: 5px 10px;
  }
}

/*uvijek najmanja veličina ide na kraj da bi se prvo uzeo style iz nje, a ako nekog nema, onda iz gornjih*/
@media only screen and (max-width: 480px) {
  .skills-section-inner {
    padding: 40px 25px 30px;
  }

  .skills-header {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .skills-box {
    margin-bottom: 15px;
  }

  .skill-box {
    padding: 30px 20px;
  }

  .skill-heading {
    font-size: 24px;
  }

  .skill-details {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  .skill-text {
    font-size: 14px;
  }

  .skill-dropdown.open {
    padding: 10px;
  }

  .skill-tag {
    font-size: 12px;
    padding: 5px 10px;
  }
}

/*ovaj dio ide zato što mi veličina boxa ne odgovara do 353 širine*/
@media only screen and (max-width: 353px) {
  .skill-dropdown.open {
    max-height: 700px;
  }
}