/*čitav container*/
.container {
  height: 100%;
  max-width: 1440px;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container-inner {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  position: relative;
  width: 100%;
}

.container-text-wrapper {
  z-index: 1;
  max-width: 750px;
  grid-row-gap: 40px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-weight: 1000;
  line-height: 1.2;
  display: flex;
  position: relative;
}

.blue-text {
  color: var(--skillswap-blue);
}

.black-button {
  background-color: var(--black);
  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: capitalize;
  padding: 17px 45px;
  line-height: 18px;
  text-decoration: none;
  transition: all .5s;
  display: inline-block;
  max-width: 100%;
  border: none;
  cursor: pointer;
}

.black-button:hover {
  background-color: var(--skillswap-blue);
}

.container-img {
  width: 950px;
  height: 400px;
  position: relative;
}

@keyframes moveUpDown {
  0% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); /* Početna transformacija */
  }
  50% {
    transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); /* Transformacija u sredini, gore */
  }
  100% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); /* Krajnja transformacija, vraćanje na početak */
  }
}

.float {
  animation: moveUpDown 2s infinite; /* 2s - trajanje animacije, infinite - beskonačna animacija */
}

.code {
  z-index: 1;
  width: 105px;
  height: 105px;
  background-image: url("../../images/program.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: auto;
  bottom: 29%;
  left: 21%;
  right: auto;
}

.guitar {
  width: 105px;
  height: 105px;
  background-image: url("../../images/guitar.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: -14%;
  right: auto;
}

.book {
  width: 700px;
  height: 270px;
  background-image: url("../../images/book.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cook {
  width: 120px;
  height: 105px;
  background-image: url("../../images/chef_cap.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -13%;
  bottom: auto;
  left: auto;
  right: -16%;
}

.paint {
  width: 70px;
  height: 70px;
  background-image: url("../../images/brush.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: auto;
  bottom: 6%;
  left: auto;
  right: 15%;
}

.game {
  width: 74px;
  height: 58px;
  background-image: url("../../images/game_controller.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -20%;
  bottom: auto;
  left: auto;
  right: 11%;
}

.shine {
  width: 60px;
  height: 30px;
  background-image: url("../../images/shine_one.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40%;
  bottom: auto;
  left: auto;
  right: -18%;
}

.shine.two {
  background-image: url("../../images/shine_two.svg");
  top: -62%;
  bottom: auto;
  left: -8%;
  right: auto;
}

.shine.three {
  width: 80px;
  height: 40px;
  background-image: url("../../images/shine_three.svg");
  top: -51px;
  bottom: 0%;
  left: 18%;
  right: auto;
}

.shine.four {
    width: 90px;
    height: 45px;
    background-image: url("../../images/shine_four.svg");
    top: 36%;
    left: 55%;
    right: auto;
}

@media only screen and (max-width: 990px) {
  .container-inner {
    padding-left: 50px;
    padding-right: 50px;
  }

  .container-text-wrapper {
    max-width: 650px;
    font-size: 45px;
  }

  .container-img {
    width: 700px;
  }

  .code {
    width: 90px;
    height: 90px;
    left: 16%;
  }

  .guitar {
    width: 80px;
    height: 80px;
  }

  .book {
    width: 600px;
  }

  .game {
    width: 50px;
    height: 75px;
    right: -5%;
  }

  .paint {
    width: 80px;
    height: 80px;
    right: 0%;
    z-index: 15;
  }

  .cook {
    height: 80px;
    width: 80px;
    top: 15%;
    right: -25%;
  }

  .black-button {
    font-size: 13px;
    padding: 17px 30px;
  }

  .shine.three {
    left: 10%;
    top: 30%;
  }

  .shine.four {
    top: 55%;
  }

  .shine.two {
    top: -20%;
  }
}

@media only screen and (max-width: 768px) {
  .container-inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .container-text-wrapper {
    width: 90%;
    grid-row-gap: 30px;
    font-size: 40px;
  }

  .black-button {
    padding: 18px 25px 15px;
  }

  .container-img {
    width: 450px;
    height: 300px;
  }

  .code {
    width: 60px;
    height: 60px;
    bottom: 25%;
    left: 15%;
  }

  .guitar {
    width: 60px;
    height: 60px;
    left: -15%;
  }

  .book {
    width: 400px;
    height: 200px;
  }

  .game {
    width: 40px;
    height: 55px;
  }

  .paint {
    width: 50px;
    height: 50px;
    right: -5%;
    z-index: 15;
  }

  .cook {
    height: 60px;
    width: 60px;
    top: 25%;
    right: -25%;
  }

  .black-button {
    font-size: 13px;
    padding: 17px 30px;
  }
}

@media only screen and (max-width: 480px) {
  .container-inner {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
  }

  .container-text-wrapper {
    margin: 0;
    font-size: 35px;
    line-height: 1.3;
  }

  .container-img {
    width: 320px;
    margin: 0; 
  }

  .code {
    width: 60px;
    height: 60px;
    bottom: 20%;
    left: 11%;
  }

  .guitar {
    width: 50px;
    height: 50px;
    top: 25%;
    left: -20%;
  }

  .book {
    width: 280px;
  }

  .game {
    width: 50px;
    height: 35px;
    top: 15%;
    right: 0%;
  }

  .paint {
    width: 50px;
    height: 50px;
    right: -16%;
    z-index: 15;
  }

  .cook {
    height: 60px;
    width: 60px;
    top: 25%;
    right: -40%;
  }

  .black-button {
    font-size: 13px;
    padding: 17px 30px;
  }
}