/*čitav container*/
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 0;
}

/*sekcija sa strane, lijeva i desna sa po dvije slike*/
.side-section {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  height: 1000px;
  width: 500px;
}

/*srednja sekcija sa centralnim box - em*/
.middle-section {
  display: grid;
  grid-template-rows: auto 1fr auto; /*dijelimo srednju sekciju na tri dodatne*/
  width: 100%; 
  height: 1000px;
}

/*za middle box gornji i donji*/
.images-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*centralni dio sa prijavama*/
.central-box {
  padding: 2rem; /*unutrašnji dio*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.central-box h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 100px;
  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.central-box p {
  font-family: 'Poppins', sans-serif;
  font-weight: 100px;
  margin-bottom: 30px;
}

.for-underline {
  border-bottom: 3px solid #2EA7D3;
}

.central-box button {
  display: block;
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #002333;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
}

/*stikeri za prijavu*/
.sticker {
  margin-right: 5px;
}

.central-box a {
  text-decoration: none;
  color: #002333;
}

.central-box .terms {
  font-size: 12px;
  color: #666;
  margin-top: 20px;
}

.image {
  width: 100%;
  max-height: 1000px;
  object-fit: contain;
}

/*svaka slika zasebno skalirana*/

/*slika desno dolje*/
.image-rb {
  border-left: 7px solid #002333;
  box-sizing: border-box;
  height: 700px;
}

/*slika desno gore*/
.image-ru {
  border-left: 7px solid #002333;
  border-bottom: 7px solid #002333;
  box-sizing: border-box;
  height: 300px;
}

/*slika lijevo gore*/
.image-lu {
  height: 400px;
  border-right: 7px solid #002333;
  border-bottom: 7px solid #002333;
  box-sizing: border-box;
}

/*slika lijevo dolje*/
.image-lb {
  border-right: 7px solid #002333;
  box-sizing: border-box;
  height: 600px;
}

/*srednja lijeva gornja slika*/
.image-mlu {
  border-right: 7px solid #002333;
  border-bottom: 7px solid #002333;
  box-sizing: border-box;
  height: 200px;
  width: 100%;
}

/*srednja desna gornja slika*/
.image-mru {
  border-bottom: 7px solid #002333;
  box-sizing: border-box;
  height: 200px;
  width: 100%;
}

/*srednja lijeva donja slika*/
.image-mlb {
  border-right: 7px solid #002333;
  border-top: 7px solid #002333;
  box-sizing: border-box;
  height: 200px;
}

/*srednja desna donja slika*/
.image-mrb {
  border-top: 7px solid #002333;
  box-sizing: border-box;
  height: 200px;
}