.admin-page {
    background-color: var(--skillswap-lightblue);
    font-family: "Poppins", sans-serif;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    z-index: 10;
}

.admin-header {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.admin-content-main {
    background-color: white;
    width: 60%;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistic {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f1eeee;
}

.statistic label {
    font-weight: bold;
    color: var(--black);
    font-size: 18px;
}

.statistic div {
    font-size: 16px;
    color: var(--skillswap-blue);
    font-weight: bold;
}

.view-requests-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--skillswap-blue);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.view-requests-btn:hover {
    background-color: var(--black); 
}

@media only screen and (max-width: 768px) {
    .admin-page {
        padding: 20px;
    }

    .admin-header {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .admin-content-main {
        width: 80%;
        padding: 20px;
    }

    .statistic {
        flex-direction: column;
        align-items: flex-start;
    }

    .statistic label {
        font-size: 16px;
    }

    .statistic div {
        font-size: 14px;
        margin-top: 10px;
    }

    .view-requests-btn {
        width: 100%;
        text-align: center;
        padding: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .admin-header {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .statistic label {
        font-size: 14px;
    }

    .statistic div {
        font-size: 12px;
    }

    .view-requests-btn {
        padding: 10px;
    }
}
