.home {
    padding: 30px;
    background-color: var(--skillswap-aliceblue);
    min-height: 100vh;
}

@media only screen and (max-width: 480px) {
    .home {
        padding: 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .home {
        padding: 20px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .home {
        padding: 20px;
    }
}
