.comments img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comments-write {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0px;
}

.comments-write input {
    flex: 5;
    padding: 10px 15px;
    border: none;
    background-color: rgba(0, 69, 246, .1);
    color: var(--black);
    border-radius: 0%;
}

.comments-write button {
    border: none;
    border-radius: 0%;
    background-color: var(--skillswap-blue);
    color: var(--white);
    padding: 10px;  
    cursor: pointer;
}

.comments-write button:hover {
    background-color: var(--black);
    transition: all 300ms ease;
}

.comment {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.comment-info {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
}

.comment-info span {
    font-weight: 500;
}

.comment-info p {
    color: var(--black);    
    font-size: 14px;
}

.comment-date {
    flex: 1;
    align-self: center; 
    color: gray;
    font-size: 12px;
}

@media only screen and (max-width: 420px) {
    .comments-write input {
        width: 10px;
    }
}