.faq-section {
  background-color: var(--white);
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--skillswap-lightblue);
}

.faq-header-block {
  background-color: var(--skillswap-lightblue); 
  color: var(--white); 
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
}

.faq-header {
  margin: 0;
  font-size: 2em;
}

.faq-description {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 18px;
}

.faq-container {
  width: 100%;
  max-width: 700px;
  padding-bottom: 50px;
}

.faq-item {
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-top: 10px; /*dodaje razmak između pitanja */
  cursor: pointer;
  background-color: var(--white);
}

.faq-item.active .faq-answer {
  display: block;
  max-height: 1000px; 
}

.faq-question {
  font-size: 20px;
  text-align: left;
  margin: 0;
  position: relative;
  padding-right: 50px; /*dodaje prostor za dugme preklapanja*/
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.faq-question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-toggle {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: var(--black);
  transition: background-color 0.3s, transform 0.3s;
  user-select: none; /*prevent - uje text selection*/
  outline: none; /*uklanja outline koji se pojavljuje pri kliku*/
  box-shadow: none; /*uklanja bilo kakav shadow koji bi mogao biti dodat*/
  /*dodatni stilovi za centriranje ikone plus i minus*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--skillswap-blue);
  font-size: 25px;
  padding: 10px;
}

.faq-toggle:hover {
  background-color: var(--skillswap-blue); 
  color: var(--black);
}

.faq-answer {
  display: none;
  padding-top: 20px;
  text-align: left;
  color: #666;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.faq-answer a {
  color: var(--skillswap-blue);
  transition: all .5s;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .faq-section {
    padding: 50px;
  }

  .faq-header {
    font-size: 25px;
  }

  .faq-description {
    font-size: 16px;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-toggle {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .faq-section {
    padding: 50px;
  }

  .faq-header {
    font-size: 25px;
  }

  .faq-description {
    font-size: 16px;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-toggle {
    width: 30px;
    height: 30px;
  }
}

/*ovaj dio ide zato što mi veličina fonta ne odgovara do ove širine*/
@media only screen and (max-width: 389px) {
  .faq-question {
    font-size: 16px;
  }
}