.post {
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 0%;
    background-color: var(--white);
    color: var(--black);
}

.post-container {
    padding: 20px;
}

.post-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.post-user-info {
    display: flex;
    gap: 20px;
}

.post-user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.post-details {
    display: flex;
    flex-direction: column;
}

.post-name {
    font-weight: 500;
    font-size: 16px;
}

.post-date {
    font-size: 12px;
    color: gray;
}

.post-content {
    margin: 20px 0px;
}

.post-content img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 20px;
}

.icon-color-blue { /*obojaće i one iz left side ikonice*/
    color: var(--skillswap-blue);
}

.post-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.post-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    gap: 5px;
}

.post-delete {
    position: absolute;
    top: 30px;
    right: 0;
    border: none;
    background-color: var(--skillswap-blue);
    padding: 5px;
    cursor: pointer;
    color: var(--white);
}

.post-delete:hover {
    background-color: var(--black);
    transform: all 5ms ease;
}

@media only screen and (max-width: 450px) {
    .post-item span {
        display: none;
    }
}