.legal-main {
    margin-bottom: -21.5vw;
    color: #000;
    background-color: var(--white);
    background-image: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0;
    display: block;
}

.legal-header-block {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: 30px;
}

.legal-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 600px;
    line-height: 65px;
}

.legal-white-block {
    z-index: 2;
    width: 100%;
    background-color: var(--skillswap-aliceblue);
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 4vw;
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
    position: relative;
}

.legal-part-block {
    width: 45%;
    flex-direction: column;
    margin-bottom: 5%;
    margin-right: 5%;
    display: flex;
}

.legal-detail {
    background-color: rgba(255, 255, 255, .1);
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.legal-title {
    margin-bottom: 2vw;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
}

.legal-button {
    border: 1px solid var(--skillswap-blue);
    background-color: rgba(0, 0, 0, 0);
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 30;
    min-width: 130px;
    padding: 17px 30px;
    position: relative;
    text-align: center; 
    transition: all .5s;
    display: inline-block;
}

.legal-button-details {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: var(--skillswap-blue);
}

.legal-black-block {
    min-height: 30vw;
    width: 100%;
    background-color: var(--black);
    position: relative;
}

@media only screen and (max-width: 990px) {
    .legal-header {
        font-size: 50px;
        line-height: 55px;
    }

    .legal-part-block {
        width: 45%;
    }

    .legal-detail {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .legal-header {
        font-size: 40px;
        line-height: 50px;
    }

    .legal-header-block {
        margin: 0;
    }

    .legal-white-block {
        padding: 10vw 5vw;
    }

    .legal-part-block {
        width: 95%;
    }
}

@media only screen and (max-width: 480px) {
    .legal-part-block {
        width: 95%;
    }

    .legal-header {
        font-size: 35px;
    }

    .legal-header-block {
        margin: 0;
    }

    .legal-detail {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .legal-title {
        margin-bottom: 35px;
        font-size: 22px;
        line-height: 30px;
    }

    .legal-button {
        font-size: 12px;
    }
}