.admin-page {
    background-color: var(--skillswap-lightblue); 
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.admin-header {
    color: white;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}

.admin-content {
    background-color: white;
    width: 100%; 
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-user-btn {
    background-color: var(--skillswap-blue);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
}

.admin-users-table {
    width: 100%;
    border-collapse: collapse; 
}

.table-header, .table-row {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1.5fr 2fr 2fr 1fr;
    padding: 10px;
    align-items: center;
}

.table-header {
    font-weight: bold;
    background-color: var(--skillswap-blue);
    color: white;
    text-align: left;
}

.table-row {
    border-bottom: 1px solid #ddd;
}

.table-cell {
    padding: 10px;
    text-align: left;
}

.user-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.actions {
    display: flex;
    justify-content: left;
}

.action-icon {
    cursor: pointer;
    color: var(--skillswap-blue);
    margin-left: 10px;
}

.action-icon.black {
    color: black;
}

.skill-container {
    display: flex;
    align-items: center;
}

.skill-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.admin-search-users {
    align-items: center;
    display: flex;
    gap: 10px;
    background-color: rgba(0, 69, 246, .1);
    border-radius: 0%;
    padding: 10px 10px;
    position: relative;
    margin-bottom: 20px;
}

.admin-search-input {
    border: none;
    width: 500px;
    background-color: transparent;
}

@media only screen and (max-width: 480px) {
    .admin-page {
        padding: 10px;
    }

    .admin-header {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 50px;
    }

    .admin-content, .admin-users-table {
        width: 100%;
    }

    .table-header, .table-row {
        display: block;
        overflow-x: auto;
    }

    .table-header {
        gap: 50px;
    }

    .table-cell, .add-user-btn, .admin-search-input {
        padding: 5px;
    }

    .admin-search-users {
        width: 100%; 
    }

    .admin-users-table {
        overflow-x: auto;
    }

    .action-icon {
        margin-left: 0;
        margin-right: 8px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .admin-page {
        padding: 20px;
    }

    .admin-header {
        margin-top: 50px;
        font-size: 20px;
    }

    .table-header, .table-row {
        display: block;
        overflow-x: auto;
    }

    .table-header {
        gap: 50px;
    }

    .table-cell, .add-user-btn, .admin-search-input {
        padding: 8px;
        font-size: 14px;
    }

    .admin-search-users {
        width: 100%; 
    }

    .admin-users-table {
        overflow-x: auto;
    }

    .action-icon {
        margin-left: 0;
        margin-right: 8px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .admin-header {
        margin-top: 50px;
    }

    .table-header, .table-row {
        display: block;
        overflow-x: auto;
    }

    .table-header {
        gap: 60px;
    }

    .action-icon {
        margin-left: 0;
        margin-right: 8px;
    }
}
