.outer-container {
  display: flex;
  justify-content: center;
  background-color: var(--white); /*boja za cjelokupan container*/
  padding: 20px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /*maksimalna širina unutrašnjeg sadržaja*/
  width: 100%; /*širina će biti 100% ali ograničena max-width vrijednošću*/
  margin: 30px 20px; 
  font-family: "Poppins", sans-serif; /*font svega*/
}

.contact-form {
  width: 50%;
  position: relative;
}

.contact-form-header {
  color: black; 
  font-family: "Poppins", sans-serif;
  text-align: left; 
  background-color: var(--white); 
  padding: 0px 0; 
}

.contact-form-header h2 {
  font-size: 50px; 
  margin: 0; /*uklanja default margine*/
  line-height: 1.4; /*linija visina za bolje poravnanje teksta*/
  display: inline; /*omogućava da h2 elementi budu u istom redu*/
}

.contact-blue {
  color: var(--skillswap-blue);
}

.contact-form p {
  font-size: 15px;
  line-height: 1.8;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 13px;
  border: none;
  font-family: "Poppins", sans-serif;
  resize: vertical; /*širi se samo vertikalno polje za poruku, horizontalno ne*/
  background-color: rgba(0, 69, 246, .1);
}

input:focus, textarea:focus, select:focus {
  outline: none; /*uklanja crni okvir kod select - a*/
}

.contact-form button {
  width: 30%; /*dugme će zauzeti punu širinu svog roditeljskog kontejnera*/
  padding: 8px 0; /*dodaje veći padding na vrhu i dnu za veću visinu*/
  font-size: 18px; 
  background-color: var(--black); /*boja pozadine dugmeta*/
  color: white;
  border: none; /*uklanja ivicu*/
  cursor: pointer; /*pokazivač miša se menja u pokazivač kada se pređe preko dugmeta*/
  font-family: "Poppins", sans-serif; 
  transition: background-color 0.3s ease, transform 0.3s; /*animacija za hover efekat*/
}

.contact-form button:hover {
  background-color: var(--skillswap-blue); /*tamnija boja za hover efekat*/
}

.contact-form button:disabled {
  background-color: #ccc;
  transform: scale(0.95) /*blago smanjimo dugme*/
}

.contact-map {
  /*još dodatnog podešavanja mape*/
  width: 45%;
  height: auto;
}

.contact-form .bottom-text {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--skillswap-blue);
}

/*custom stilovi za toast*/
.Toastify__toast-body { /*font tijela*/
  font-family: "Poppins", sans-serif !important;
}

/*promjena boje ikonice za success*/
.Toastify__toast--success .Toastify__toast-body svg {
  fill: var(--skillswap-lightblue) !important; /*ide important da bi override-ovali glavne osobine toastify-ja*/
}

/*promjena boje progress bara*/
.Toastify__progress-bar--success {
  background: var(--skillswap-lightblue) !important;
}

/*isto to ali za error da bi ih vizuelno razlikovali, pošto neki ljudi ne čitaju tekst intuitivno*/
.Toastify__toast--error .Toastify__toast-body svg {
  fill: var(--skillswap-blue) !important;
}

/*boje da se slažu sa sajtom*/
.Toastify__progress-bar--error {
  background: var(--skillswap-blue) !important;
}

.email-input-container {
  position: relative;
}

