.admin-page-posts {
    background-color: var(--skillswap-lightblue); 
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.admin-header-posts {
    color: white;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}

.admin-content-posts {
    background-color: white;
    width: 100%; 
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-post-btn {
    background-color: var(--skillswap-blue);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
}

.admin-posts-table-posts {
    width: 100%;
    border-collapse: collapse; 
}

.table-header-posts, .table-row-posts {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1.5fr 1.5fr 1.5fr 1fr; /* Adjusted to fit columns */
    padding: 10px;
    align-items: center;
}

.table-header-posts {
    font-weight: bold;
    background-color: var(--skillswap-blue);
    color: white;
    text-align: left;
}

.table-row-posts {
    border-bottom: 1px solid #ddd;
}

.table-cell-posts {
    padding: 10px;
    text-align: left;
}

.actions-posts {
    display: flex;
    justify-content: left;
}

.action-icon-posts {
    cursor: pointer;
    color: var(--skillswap-blue);
    margin-left: 10px;
}

.action-icon-posts.black {
    color: black;
}

.post-pic-posts {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.admin-search-posts {
    align-items: center;
    display: flex;
    gap: 10px;
    background-color: rgba(0, 69, 246, .1);
    border-radius: 0%;
    padding: 10px 10px;
    position: relative;
    margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
    .admin-page-posts {
        padding: 10px;
    }

    .admin-header-posts {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 50px;
    }

    .admin-content-posts, .admin-posts-table-posts {
        width: 100%;
    }

    .table-header-posts, .table-row-posts {
        display: block;
        overflow-x: auto;
    }

    .table-header-posts {
        gap: 50px;
    }

    .table-cell-posts, .add-post-btn, .admin-search-input {
        padding: 5px;
    }

    .admin-search-posts {
        width: 100%; 
    }

    .admin-posts-table-posts {
        overflow-x: auto;
    }

    .action-icon-posts {
        margin-left: 0;
        margin-right: 8px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .admin-page-posts {
        padding: 20px;
    }

    .admin-header-posts {
        margin-top: 50px;
        font-size: 20px;
    }

    .table-header-posts, .table-row-posts {
        display: block;
        overflow-x: auto;
    }

    .table-header-posts {
        gap: 50px;
    }

    .table-cell-posts, .add-post-btn, .admin-search-input {
        padding: 8px;
        font-size: 14px;
    }

    .admin-search-posts {
        width: 100%; 
    }

    .admin-posts-table-posts {
        overflow-x: auto;
    }

    .action-icon-posts {
        margin-left: 0;
        margin-right: 8px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .admin-header-posts {
        margin-top: 50px;
    }

    .table-header-posts, .table-row-posts {
        display: block;
        overflow-x: auto;
    }

    .table-header-posts {
        gap: 60px;
    }

    .action-icon-posts {
        margin-left: 0;
        margin-right: 8px;
    }
}