.requests-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: var(--white);
  min-height: 80vh;
}

.requests-list h1 {
  margin-bottom: 50px;
}

.request-header {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 60px 1fr 1.1fr;
  align-items: center;
}

.request-item {
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  cursor: pointer;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.request-actions {
  display: flex;
  gap: 10px;
}

.accept-button, .reject-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.request-header {
  font-weight: bold;
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: auto 1fr 1.1fr;
  gap: 10px;
  padding-left: 10px;
}

.no-requests.main {
  font-size: 15px;
  margin-left: 10px;
}
