@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --white: white;
  --skillswap-skyblue: #00cfff;
  --skillswap-lightblue: #0080ff;
  --black: black;
  --skillswap-blue: #0045f6;
  --skillswap-aliceblue: #ddebfd; 
  /*dodamo boje kao varijable, da bi bile dostupne svuda*/
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  scroll-behavior: smooth; /*da prelaz klikom preko komponenti bude smooth*/
}

* {
  box-sizing: border-box;
}

div {
  display: block;
  unicode-bidi: isolate;
  margin: 0;
}

.full-homepage {
  background-color: var(--skillswap-aliceblue);
}