.share {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 0px;
    background-color: var(--white);
    color: var(--black);
    margin-bottom: 20px;
}

.share-container {
    padding: 20px;
}

.share-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share-top .share-left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.share-top .share-left input {
    border: none;
    outline: none;
    padding: 20px 10px;
    background-color: transparent;
    width: 60%;
    color: var(--black);
}

.share-top .share-right .file {
    width: 100px;
    height: 100px;
    border-radius: 0px;
    object-fit: cover;
}

.share-top hr {
    margin: 20px 0px;
    border: none;
    height: 0.5px;
}

.share-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
        
.share-left {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 3;
}

.share-right {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

.share-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.share-item img {
    height: 20px;
}

.share-item span {
    font-size: 12px;
    color: gray;
}

.share-right button {
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
    background-color: var(--skillswap-blue);
    border-radius: 0px;          
}

.share-place {
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

.no-underline { 
  text-decoration: none;
}

@media (max-width: 425px) {
    .share-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .share-right {
        width: 100%;
        justify-content: flex-start;
        margin-top: 10px;
    }

    .share-right button {
        width: 30%;
    }

    .share-left {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }

    .share-item {
        width: 100%;
        justify-content: flex-start;
    }

    .share-item span {
        font-size: 10px;
    }
}